RewriteEngine On
RewriteBase /AdvanceServerSideTutorials/tut04 

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond $1 !^(index\.php|assets|images|css|docs|js|system)
RewriteRule ^(.*)$ /AdvanceServerSideTutorials/tut04/index.php?/$1 [L]